*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/*
!.idea/codeStyles
!.idea/runConfigurations.xml
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.navigation/
captures/
.externalNativeBuild/
.cxx/
*.hprof
